.overlay{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
}
.hero{
    padding: 20px;
    z-index: 3;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background:#fff;
    overflow-y: auto;
}
#bedusUpload{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 0;
}
#bedusUpload:hover{
    cursor: pointer;
}
img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}
